<div class="container-fluid">
  <div class="col-md-2">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr   *ngFor = "let p of publicidades">
          <td>
            {{p.id}} 
          </td>
          <td>
              <button type="button" class="btn btn-link" (click)= "onSelection(p)">Abrir</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-dark" (click)= "onCreate()">Create</button>
    <br>
    <br>
  </div>
  <div class="col-md-2">
    <router-outlet></router-outlet>
  </div>
</div>