
  <div class="card m-1" style="width: 20rem;">
    <div id="carouselExampleIndicators{{publicidad.id}}" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" >
          <img *ngIf="publicidad.multimedia != undefined" src={{publicidad.multimedia[0].url}} class="d-block w-100" alt="Hola">
        </div>

        <ng-template ngFor let-multimedia [ngForOf]="publicidad.multimedia" let-f="first">
        <div class="carousel-item" *ngIf="!f">
          <img src={{multimedia.url}} class="d-block w-100" alt="Hola" >
        </div>
        </ng-template>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators{{publicidad.id}}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators{{publicidad.id}}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{publicidad.id}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{publicidad.costo}}</h6>
      <p class="card-text"> {{publicidad.mensaje}} </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item ">Inicio {{publicidad.fechaInicio}}</li>
      <li class="list-group-item ">Fin {{publicidad.fechaFin}}</li>
      <li class="list-group-item ">Dias por semana {{publicidad.diasPorSemana}}</li>
    </ul>
  </div>
