<div class="col-md-12">

	<div class="container-fluid">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Publiciad: {{publicidad.id}}</h5>
				<h6 class="card-subtitle mb-2 text-muted">${{publicidad.costo}}</h6>
				<p class="card-text"> {{publicidad.mensaje}} </p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Inicio  {{publicidad.fechaInicio}}</li>
				<li class="list-group-item">Fin     {{publicidad.fechaFin}}</li>
				<li class="list-group-item">Dias por semana  {{publicidad.diasPorSemana}}</li>
			</ul>
		</div>
	</div>
</div>