<div class="card m-1" style="width: 20rem;" >
  <img class="card-img-top" src="https://pmcdeadline2.files.wordpress.com/2018/02/tv-ads-advertising.jpg?w=681&h=383&crop=1" alt="Card image">
  <div class="card-body">
    <h5 class="card-title">{{publicidad.id}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{getCosto(publicidad)}}</h6>
    <p class="card-text"> {{publicidad.mensaje}} </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item ">Inicio {{publicidad.fechaInicio}}</li>
    <li class="list-group-item ">Fin {{publicidad.fechaFin}}</li>
    <li class="list-group-item ">Dias por semana {{publicidad.diasPorSemana}}</li>
  </ul>
</div>