
<ul class="list-group">
      <li class="list-group-item list-group-item-success">ID: {{mascotaDetail.id}}</li>
      <li class="list-group-item list-group-item-success">Raza: {{mascotaDetail.raza}}</li>
      <li class="list-group-item list-group-item-success">Especie: {{mascotaDetail.especie}}</li>
      <li class="list-group-item list-group-item-success">Historia: {{mascotaDetail.historia}}</li>
      <li class="list-group-item list-group-item-success">Lugar: {{mascotaDetail.lugar}}</li>
      <li class="list-group-item list-group-item-success">Procesos: {{mascotaDetail.procesos}}</li>
    </ul>




