@import '~bootstrap/dist/css/bootstrap.min.css';

#mscs { 
    padding: 2% 10%;
}

#btn {
    padding: 2% 10% 0 10%;
}
.card {
    max-width: 400px;
}
  
.header-image {
    background-size: cover;
}

.mat-grid-list {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.mat-card-title {
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}
.mat-card-header .mat-card-title {
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

.mat-card-header {
    margin: 1% 0 0 0;
    padding: 1% 0 0 0;
    width: 100%;
}

.mat-card-subtitle {
    margin-top: 0%;
    margin-bottom: 5px;
    font-size: 14px
}

.mat-card-content{
    margin: 0 0 10px 0;
    height: 100%;
    font-size: 14px
}

.mat-card-footer {
    height: 8px;
    margin: 2px;
}