<div class="container-fluid">
  <div class="col-md-2">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
        </tr>
      </thead>
      <tbody>
        <tr   *ngFor = "let p of mascotaperdidas">
          <td>
            <a class="figure-caption" [routerLink] ="['/mascotaperdidas', { outlets: { 'mascotaperdidaDetail': [p.id] } }]" >
            {{p.id}}</a></td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-dark" (click)="onCreate()">Create</button>
    <br>
    <br>
  </div>
</div>