<div class="col-md-12">

	<div class="container-fluid">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Mascota Perdida: {{mascotaperdida.id}}</h5>
				<h6 class="card-subtitle mb-2 text-muted">{{mascotaperdida.raza}}</h6>
				<p class="card-text">  {{mascotaperdida.descripcion}} </p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Especie:     {{mascotaperdida.especie}}</li>
				<li class="list-group-item">Lugar:  {{mascotaperdida.lugar}}</li>
			</ul>
		</div>
	</div>
</div>