<div class="container-fluid">
    <div class="col-md-2">
      <h1>Mascotas Encontradas</h1>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Especie</th>    
                    <th>Raza</th>
                    <th>Lugar</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let e of mascotasEncontradas">
                    <td>{{e.especie}}</td>
                    <td>{{e.raza}}</td>
                    <td>{{e.lugar}}</td>
                    <td>{{e.descripcion}}</td>
                </tr>
            </tbody>
        </table>
    </div>