<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand mx-auto d-block text-center order-0 order-md-1 w-25" href="#">
      <img src="/src/assets/images/temp-logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Mascotas Encontradas
    </a>
  </nav>

<div class="card-group" id="mscs">
    <div class="card" style="width:400px"  *ngFor = "let m of mascotasEncontradas">
        <img class="card-img-top" src={{m.foto}} alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{m.raza + ", " + m.especie}}</h4>
          <p class="card-text">{{m.descripcion}}</p>
          <a href="#" class="btn btn-primary">info</a>
        </div>
      </div>
    </div>