<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand mx-auto d-block text-center order-0 order-md-1 w-25" href="#">
    <img src="/src/assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Mascotas Encontradas
  </a>
</nav>

<a mat-button [routerLink]="['/mascotasEncontradas/create']" routerLinkActive="router-link-active" id="btn">Crear</a>
<mat-grid-list cols="3" rowHeight="4:6" gutterSize="15px" id="mscs" class="mat-grid-list">
  <mat-grid-tile  *ngFor="let m of mascotasEncontradas">
      <mat-card class="card h-100">
        <img mat-card-image src={{getImageSrc(m)}} alt={{m.raza}}>
          <mat-card-header class="header-image">
            <mat-card-title class="mat-card-title">{{m.raza}}</mat-card-title>
            <mat-card-subtitle class="mat-card-subtitle">{{m.especie | especie}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p class="h-100">
              {{m.descripcion}}
            </p>
          </mat-card-content>
          <mat-card-actions class="my-0 d-block">
            <button mat-button class="text-primary">Ver</button>
            <button mat-button>Compartir</button>
          </mat-card-actions>
          <mat-card-footer class="mat-card-footer text-center">

            <small class="text-muted">{{(setDate(m.fechaEncontrada) | date:'mediumDate')}}</small>
          </mat-card-footer>
        </mat-card>
  </mat-grid-tile>
</mat-grid-list>