<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="navbar-brand mx-auto d-block text-center order-0 order-md-1 w-25" href="#">
          <img src="/src/assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Mascotas en Adopcion
        </a>
        <a routerLink="/mascotasAdopcion/create"><button class="btn btn-success pull-right" > Crer Mascota</button></a>
      </nav>

<div class="container-fluid">
   
    <div class="col-md-2">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Mascota Especie</th>    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let i of mascotas">
                        <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">{{i.especie}}, {{i.raza}}</h5>
                                  <p class="card-text">{{i.descripcion}}</p>
                                  <a href="#" class="btn btn-primary">Procesos Adopcion</a>
                                </div>
                              </div>
                </tr>
            </tbody>
        </table>
    </div>