<div class="container-fluid w-75 h-100 mx-auto">
  <div class="pt-5">
    <h1 class="display-4 text-uppercase">{{data.raza}}</h1>
    <div class="row">
    <p class="subtitle ml-0 mr-auto">{{data.especie | especie}}</p>
    <p class="subtitle mr-0 ml-auto">{{(setDate(data.fechaEncontrada) | date:'mediumDate')}}</p>
  </div>
  </div>
  <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" color="" maxWidth="auto" proportion="50" [loop]="true" [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true" [useMouseWheel]="false"
    orientation="ltr">
    <mat-carousel-slide #matCarouselSlide [overlayColor]="FFFFFF" *ngFor="let m of data.multimedia; let i = index">
      <div class="h-25 w-25 mx-auto align-middle">
        <img src={{m.url}} height="300" width="auto">
      </div>
    </mat-carousel-slide>
  </mat-carousel>
  <div class="container-fluid">
    <h2 class="pt-2">Lugar</h2><hr/>
    <p class="subtitle ml-0 mr-auto">{{data.lugar}}</p>
    <h2 class="pt-2">Descripción</h2><hr/>
    <p class="subtitle ml-0 mr-auto">{{data.descripcion}}</p>
  </div>

  <div class="row text-center d-block m-4 mx-auto">
    <a mat-button class="mr-3" [routerLink]="['/mascotasEncontradas/list']">Cancelar</a>
    <button mat-button class="btn btn-danger ml-3" (click)="deleteMascota()">Borrar</button>
  </div>

</div>